// ========================================
//
// @file _buttons.scss
// Form buttons, call to action buttons
//
// ========================================

input[type=submit] {

}

.button {
  background: white;
  border-radius: 2px;
  box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.1);
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 20px 40px;

  &:hover {
    background: #fafafa;
  }
  &:active {
    transform: translateY(2px);
  }

  &.active {
    background: $color-pink;
    color: $color-white;
  }
}
